<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <p>
                    Click Create and start a game now with all the default configurations. Or click
                    <a routerLink="play">
                        play
                    </a>
                    to configure game options.
                </p>
                <button class="btn btn-primary" role="button" (click)="createGame()">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let game of games">
        <div class="card card-link animated zoomIn" routerLink="game/{{game.id}}">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="row text-center">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <game-state [gameState]="game.state">

                                </game-state>
                                <span class="property-label">
                                    State
                                </span>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <b class="property-xx-large">
                                    {{game.guesses.length}}
                                </b>
                                <span class="property-label">
                                    Guesses
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <div class="row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
                                <b>
                                    {{game.id}}
                                </b>
                                <span class="property-label">
                                    Game Identifier
                                </span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                                <b>
                                    <span title="{{game.created}}">
                                        {{game.created | amTimeAgo}}
                                    </span>
                                </b>
                                <span class="property-label">
                                    Created
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <b>
                                    {{game.decoderUserId}}
                                </b>
                                <span class="property-label">
                                    Decoder User Identifier
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                                <peg-code [pegCode]="pegCode" *ngFor="let pegCode of game.answerCodePegs">

                                </peg-code>
                                <span class="property-label">
                                    Answer
                                </span>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center">
                                <b class="property-x-large">
                                    {{game.version}}
                                </b>
                                <span class="property-label">
                                    Version
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>