<app-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <p class="h1">
                    Thinking
                </p>
            </div>
        </div>
    </div>
</app-component>
@section body_scripts {
    <script src="/app/js/browser/polyfills.js" type="module"></script>
    <script src="/app/js/browser/main.js" type="module"></script>
}