<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>
                Not Found
            </h1>
            <p>
                Could not find.
            </p>
        </div>
    </div>
</div>