<div class="container container-login animated fadeIn">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="text-uppercase text-center">
                Mastermind
            </h1>
            <p class="lead">
                Crafted by hand from the finest materials.
            </p>
            <p>
                <a href="/external?authenticationScheme=Google" class="btn btn-primary btn-block" role="button">
                    <i class="fa fa-google-plus" aria-hidden="true">

                    </i>
                    Login with Google
                </a>
            </p>
            <p>
                <a href="/external?authenticationScheme=Twitter" class="btn btn-primary btn-block disabled" role="button">
                    <i class="fa fa-twitter" aria-hidden="true">

                    </i>
                    Login with Twitter
                </a>
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    Want to see the source?
                    <a href="https://github.com/gregoryjenk/GregoryJenk.Mastermind/" target="_self">
                        View code on GitHub
                        <i class="fa fa-external-link">

                        </i>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    The latest AppVeyor build.
                    <br />
                    <a href="https://ci.appveyor.com/project/gregoryjenk/gregoryjenk-mastermind/">
                        <img src="https://ci.appveyor.com/api/projects/status/7vpioj2jryfejmd5?svg=true" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">
        <a href="https://www.gregoryjenk.com/" target="_self" title="Website">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x">

                </i>
                <i class="fa fa-globe fa-stack-1x">

                </i>
            </span>
        </a>
        <a href="mailto:gregoryjenk@gmail.com" title="Email">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x">

                </i>
                <i class="fa fa-envelope fa-stack-1x">

                </i>
            </span>
        </a>
        <a href="https://twitter.com/gregoryjenk/" target="_self" title="Twitter">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x">

                </i>
                <i class="fa fa-twitter fa-stack-1x">

                </i>
            </span>
        </a>
        <a href="https://instagram.com/gregoryjenk/" target="_self" title="Instagram">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x">

                </i>
                <i class="fa fa-instagram fa-stack-1x">

                </i>
            </span>
        </a>
        <a href="https://open.spotify.com/user/gregoryjenk/" target="_self" title="Spotify">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x">

                </i>
                <i class="fa fa-spotify fa-stack-1x">

                </i>
            </span>
        </a>
        <a href="https://www.linkedin.com/in/gregoryjenk/" target="_self" title="LinkedIn">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x">

                </i>
                <i class="fa fa-linkedin fa-stack-1x">

                </i>
            </span>
        </a>
        <a href="https://github.com/gregoryjenk/" target="_self" title="GitHub">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x">

                </i>
                <i class="fa fa-github fa-stack-1x">

                </i>
            </span>
        </a>
    </p>
</div>