<nav class="navbar navbar-default navbar-fixed-top animated fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a class="btn btn-lg btn-primary" routerLink="play" role="button">
                    Play
                </a>
                <a href="/logout">
                    Logout
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <b>
                            {{parent.user?.name}}
                        </b>
                        <br />
                        {{parent.user?.email}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <img src="{{parent.user?.image}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>