@section head_styles {
    <link href="~/app/css/pegs/peg-code.css" rel="stylesheet" />
}

@section body_scripts {
    <script src="~/lib/core-js/client/shim.min.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/dist/system.src.js"></script>
    <script>
        //Loading from the CDN may be more performant than loading local versions but less reliable.
        var map = {
            "@@angular/common": "https://unpkg.com/@@angular/common@@2.1.2",
            "@@angular/compiler": "https://unpkg.com/@@angular/compiler@@2.1.2",
            "@@angular/core": "https://unpkg.com/@@angular/core@@2.1.2",
            "@@angular/forms": "https://unpkg.com/@@angular/forms@@2.1.2",
            "@@angular/http": "https://unpkg.com/@@angular/http@@2.1.2",
            "@@angular/platform-browser": "https://unpkg.com/@@angular/platform-browser@@2.1.2",
            "@@angular/platform-browser-dynamic": "https://unpkg.com/@@angular/platform-browser-dynamic@@2.1.2",
            "@@angular/router": "https://unpkg.com/@@angular/router@@3.1.2",
            "rxjs": "https://unpkg.com/rxjs@@5.0.0-rc.1"
        };

        var packages = {
            "@@angular/common": { defaultExtension: "js", main: "/bundles/common.umd.js" },
            "@@angular/compiler": { defaultExtension: "js", main: "/bundles/compiler.umd.js" },
            "@@angular/core": { defaultExtension: "js", main: "/bundles/core.umd.js" },
            "@@angular/forms": { defaultExtension: "js", main: "/bundles/forms.umd.js" },
            "@@angular/http": { defaultExtension: "js", main: "/bundles/http.umd.js" },
            "@@angular/platform-browser": { defaultExtension: "js", main: "/bundles/platform-browser.umd.js" },
            "@@angular/platform-browser-dynamic": { defaultExtension: "js", main: "/bundles/platform-browser-dynamic.umd.js" },
            "@@angular/router": { defaultExtension: "js", main: "/bundles/router.umd.js" },
            "app": { defaultExtension: "js" },
            "rxjs": { defaultExtension: "js" }
        };
        
        System.config({
            map: map,
            packages: packages
        });

        System.import("app/js/app.main").then(null, console.error.bind(console));
    </script>
}

<div class="app-container container">
    <div class="app-component">
        <div class="app-loading">
            <i class="fa fa-cog fa-3x fa-spin">

            </i>
            <h1>
                Loading
            </h1>
        </div>
    </div>
</div>