@{
    Layout = "_Public";
}

@section head_styles {
    <link href="~/app/css/components/notifications/notification-bar.component.css" rel="stylesheet" />
}

@section body_scripts {
    <script src="~/lib/core-js/client/shim.min.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/app/js/sec.js"></script>
}

<div class="container sec-container">
    <div class="sec-component">
        <div class="sec-loading animated fadeIn">
            <p>
                <i class="fa fa-circle-o-notch fa-3x fa-spin">

                </i>
            </p>
            <h1 class="text-uppercase">
                Mastermind
            </h1>
            <h2 class="text-uppercase">
                By Gregory Jenkins
            </h2>
        </div>
    </div>
</div>