@{
    Layout = "_Public";
}

@section body_scripts {
    <script src="~/lib/core-js/client/shim.min.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/app/js/sec.js"></script>
}

<div class="sec-container container">
    <div class="sec-component">
        <div class="sec-loading">
            <i class="fa fa-cog fa-3x fa-spin">

            </i>
            <h1>
                Loading
            </h1>
        </div>
    </div>
</div>