<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-primary btn-lg" role="button" (click)="startGame()">
                    Start Game
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <peg-code [peg-code-draggable]="pegCode" [pegCode]="pegCode" *ngFor="let pegCode of colours">

                </peg-code>
            </div>
        </div>
    </div>
    <!--<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <peg-code [pegCode]="pegCode" *ngFor="let pegCode of currentGame?.answer">
                    
                </peg-code>
            </div>
        </div>
    </div>-->
    <div class="col-lg-12">
        <div class="panel panel-default" *ngFor="let guess of currentGame?.guesses">
            <div class="panel-body text-center">
                <peg-code peg-code-droppable [pegCode]="pegCode" *ngFor="let pegCode of guess.pegCodes" (pegCodeDropped)="onPegCodeDropped($event, pegCode)">

                </peg-code>
            </div>
        </div>
    </div>
</div>