<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Currently there are no options to configure for games, coming soon though.
                </p>
                <p>
                    Click Create and start a game now with all the default configurations.
                </p>
                <button class="btn btn-primary" role="button" (click)="createGame()">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>