<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">



                <game-state [gameState]="currentGame?.state">

                </game-state>
                <span class="property-label">
                    State
                </span>

                <b>
                    {{currentGame?.id}}
                </b>
                <span class="property-label">
                    Game Identifier
                </span>

                <b>
                    <span title="{{currentGame?.created}}">
                        {{currentGame?.created | amTimeAgo}}
                    </span>
                </b>
                <span class="property-label">
                    Created
                </span>

                <b>
                    <span title="{{currentGame?.updated}}">
                        {{currentGame?.updated | amTimeAgo}}
                    </span>
                </b>
                <span class="property-label">
                    Updated
                </span>

                <b>
                    {{currentGame?.decoderUserId}}
                </b>
                <span class="property-label">
                    Decoder User Identifier
                </span>

                <b>
                    {{currentGame?.version}}
                </b>
                <span class="property-label">
                    Version
                </span>



                <button class="btn btn-primary btn-lg" role="button" (click)="startGame()">
                    Start
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <peg-code peg-code-draggable [pegCode]="pegCode" *ngFor="let pegCode of colours">

                </peg-code>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <peg-code [pegCode]="pegCode" *ngFor="let pegCode of currentGame?.answerCodePegs">

                </peg-code>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default" *ngFor="let guess of currentGame?.guesses">
            <div class="panel-body text-center">
                <peg-code peg-code-droppable [pegCode]="pegCode" *ngFor="let pegCode of guess.pegCodes" (pegCodeDropped)="onPegCodeDropped($event, pegCode)">

                </peg-code>
            </div>
        </div>
    </div>
</div>