@use "../../../../../../node_modules/@gregoryjenk/aesthetic-default/src/styles/variables/variable-core-style.scss" as *;

.game-state-component {
    &__state {
        &--created {
            background-color: var(--bs-blue);
            color: $white-colour;
        }

        &--started {
            background-color: var(--bs-yellow);
            color: $black-colour;
        }

        &--ended {
            background-color: var(--bs-red);
            color: $white-colour;
        }

        &--matched {
            background-color: var(--bs-green);
            color: $white-colour;
        }
    }
}